*.pyc
*.pyo
toxygen/toxcore
tests/tests
tests/libs
tests/.cache
tests/__pycache__
tests/avatars
toxygen/libs
.idea
*~
*.iml
*.so
*.log
toxygen/build
toxygen/dist
*.spec
dist
toxygen/avatars
toxygen/__pycache__
/*.egg-info
/*.egg
html
Toxygen.egg-info
*.tox
.cache
*.db

