include toxygen/images/*.png
include toxygen/images/*.ico
include toxygen/images/*.gif
include toxygen/sounds/*.wav
include toxygen/stickers/tox/*.png
include toxygen/smileys/default/*.png
include toxygen/smileys/default/config.json
include toxygen/smileys/animated/*.gif
include toxygen/smileys/animated/config.json
include toxygen/smileys/starwars/*.gif
include toxygen/smileys/starwars/*.png
include toxygen/smileys/starwars/config.json
include toxygen/styles/style.qss
include toxygen/translations/*.qm
include toxygen/libs/libtox.dll
include toxygen/libs/libsodium.a
include toxygen/libs/libtox64.dll
include toxygen/libs/libsodium64.a