#contact_name
{
    padding-left: 22px;
}

MessageEdit
{
    border: none;
}

MessageEdit::focus
{
    border: none;
}

MessageItem::focus
{
    border: none;
}

MessageEdit:hover
{
    border: none;
}

MessageEdit
{
    background-color: transparent;
}
