#searchLineEdit
{
    padding-left: 22px;
}

MessageEdit
{
    border: none;
}

MessageEdit::focus
{
    border: none;
}

MessageItem::focus
{
    border: none;
}

MessageEdit:hover
{
    border: none;
}

MessageEdit
{
    background-color: transparent;
}

#warningLabel
{
    color: #BC1C1C;
}

#groupInvitesPushButton
{
    background-color: #009c00;
}

